#ansatt {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 2em min-content 2% 40% auto 2em;
    grid-template-columns: 2em 20% 10% 2% auto 2% 20% 2em;
}

#ansattSok {
    display: contents;
}

#ansattSok > form {
    display: flex;
    flex-direction: row;
}

#ansattInfo {
    border: 1px solid;
    border-radius: 0.6em;
}

#searchBarAnsatt {
    position: relative;
    display: flex;
    width: max-content;
    padding: 0.625em;
    border-radius: 5em;
    background: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#searchInput {
    border: 0;
    outline: none;
    padding: 0 0.5em 0 0;
}

#searchLogo {
    width: 1em;
    stroke: currentColor;
    stroke-width: 4;
    stroke-linecap: round;
    fill: none;
}

#searchResultWrapper {
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background: white;
    margin-top: .5em;
    padding: 1em;
    border-radius: 1em;
    height: min-content;
}

.searchResult {
    outline: none;
    border: 0;
    background: white;
    cursor: pointer;
}

.searchResult:hover {
    background: #f1f1f1;
}
