#ansatt {
    display: grid;
}

#ansattSok {
    display: contents;
}

#ansattSok > form {
    display: flex;
    flex-direction: row;
}

#ansattInfo {
    border: 1px solid;
    border-radius: 0.6em;
}

#searchBarAnsatt {
    position: relative;
    display: flex;
    width: max-content;
    padding: 0.625em;
    border-radius: 5em;
    background: white;
}

#searchInput {
    border: 0;
    outline: none;
    padding: 0 0.5em 0 0;
}

#searchLogo {
    width: 1em;
    stroke: currentColor;
    stroke-width: 4;
    stroke-linecap: round;
    fill: none;
}

#searchResultWrapper {
    flex-direction: column;
    background: white;
    margin-top: .5em;
    padding: 1em;
    border-radius: 1em;
    height: min-content;
}

.searchResult {
    outline: none;
    border: 0;
    background: white;
    cursor: pointer;
}

.searchResult:hover {
    background: #f1f1f1;
}

th > * {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: auto 1fr;
    justify-content: start;
}

th > ::after {
    content: "";
    display: inline-block;
    background-color: currentColor;
    height: 1em;
    width: .6em;
    clip-path: polygon(50% 8.5%, 0 34.29%, 14.12% 44.14%, 14.12% 55.86%, 0 65.71%, 50% 91.5%, 100% 65.71%, 85.88% 55.86%, 50% 74.36%, 14.12% 55.86%, 14.12% 44.14%, 50% 25.64%, 85.88% 44.14%, 100% 34.29%);
    margin-left: .3rem;
}
