.chevron {
    background: no-repeat 50% / 27% url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 16" fill="none" stroke-width="2" stroke="%23888"><path d="M8 1L1 8L8 15" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    width: 1.5em;
    height: 1.5em;
}

.right {
    transform: scale(-1, 1);
}

#kalender {
    display: grid;
    padding: 1em;
    grid-template: auto 1fr / auto;
    gap: 1em;
    height: calc(100% - 2em);
}

.datoVelger {
    align-items: center;
    display: flex;
}

.datoVelger .button {
    margin-left: auto;
}

.raskInfo {

}

.tidsRedigering {
    display: grid;
    grid-template: 3em auto / 10em auto;
    background: #f2f3f5;
    border-radius: 0.5em;
    padding: 0.5em;
}

#dato {
    grid-column-start: 1;
    grid-row-start: 1;
}

#timer {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template: auto / repeat(24, 1fr);
    align-items: center;
}

#timer > span {
    width: 0;
    display: flex;
    justify-content: center;
}

#ansatte {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: auto;
}

#ansatte > span {
    text-align: center;
    align-self: center;
}

#tidsplan {
    grid-column-start: 2;
    grid-row-start: 2;

    position: relative;
    background-image:
        repeating-linear-gradient(90deg, #ccc, #ccc 1px, #0000 0, #0000 calc((100% - 1px) / 24)),
        repeating-linear-gradient(0deg, #ccc, #ccc 1px, #0000 0, #0000 calc((100% - 1px) / 8)),
        repeating-linear-gradient(0deg, #f2f3f5, #f2f3f5 4px, #0000 0, #0000 8px),
        repeating-linear-gradient(90deg, #ccc calc((100% - 1px) / 48), #ccc calc((100% - 1px) / 48 + 1px), #0000 0, #0000 calc((100% - 1px) / 24));
}

.skift {
    z-index: 2;
    background: #ddd;
    border-radius: .5em;
    border: 1px solid #999;
    box-sizing: border-box;
    margin: 3px 0;
    height: calc(12.5% - 5px);
    position: absolute;
    cursor: pointer;
}

@media (max-width: 50em) {
    #timer {
        grid-template: auto / repeat(12, 1fr);
    }

    #timer > :nth-child(2n) {
        display: none;
    }
}
