.calendar-weekdays {
    margin-top: 0;
}

.calendar-container {
    background: #2f2f2f;
    height: fit-content;
    min-width: 390px;
    width: 390px;
    border-radius: 0.6em;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    z-index: 3;
    position: relative;
}

.calendar-container .calendar-header {
    display: flex;
    align-items: center;
    padding: 1.5em 1.25em 0;
    justify-content: space-between;
}

.calendar-navigation {
    font-size: 1.5em;
}

.calendar-header .chevron {
    border-radius: 50%;
    filter: brightness(1.26);
}

.calendar-header .chevron:hover {
    background-color: #c0c0c0;
}

.calendar-header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
    margin-left: 0.75em;
    color: white;
}

.calendar-body {
    padding: 1.25em;
}

.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 1.25em;
}

.calendar-body li {
    font-size: 0.9rem;
    color: #707070;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}

.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.calendar-body li a {
    text-decoration: unset;
    color: white;
    width: 100%;
}

.calendar-dates {
    margin-top: 0;
}
.calendar-weekdays {
    margin-bottom: 0;
}

.calendar-dates li.inactive {
    color: #4f4f4f;
}

.calendar-dates li.active {
    color: #fff;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: pink;
}

.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}

.calendar-dates li.inactive:hover::before {
    background: #929292;
}

.disableIcon {
    color: #464646!important;
    cursor: unset!important;
}

.disableIcon:hover {
    background: transparent!important;
}

.smallDate-selector {
    display: flex;
    height: min-content;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.selector-navigation,
.calendar-navigation {
    display: flex;
    gap: 0.2em;
}

.smallDate-selector span {
    cursor: pointer;
    filter: brightness(0.33);
}

.calendar-icon {
    width: 1.5em;
    height: 1.5em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="%23888"><path d="M7 2v3m10-3v3M4 9h16"/><rect x="4" y="5" width="16" height="16" rx="1"/><path d="m8 13h0m4 0h0m4 0h0m-8 4h0m4 0h0m4 0h0" stroke-linecap="round"/></svg>');
}

.chevron {
    background: no-repeat 50% / 27% url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 16" fill="none" stroke-width="2" stroke="%23888"><path d="M8 1L1 8L8 15" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    width: 1.5em;
    height: 1.5em;
}

.right {
    transform: scale(-1, 1);
}

#kalender {
    display: grid;
    grid-template-columns: 2em auto 2em;
    grid-template-rows: 2em 4em 0.5em 4em 0.5em auto 2em;
    height: 100%;
}

.datoVelger {
    grid-column-start: 2;
    grid-row-start: 2;
}

.raskInfo {
    grid-column-start: 2;
    grid-row-start: 4;
}

.tidsRedigering {
    grid-column-start: 2;
    grid-row-start: 6;

    display: grid;
    grid-template-columns: 2em auto 2em;
    grid-template-rows: 8em auto 2em;
}

#skiftVisning {
    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: 10em auto;
    grid-template-rows: 3em auto;
    background: #ededed;
    border-radius: 0.5em;
    padding: 0.5em;
}

#dato {
    grid-column-start: 1;
    grid-row-start: 1;
}

#timer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: repeat(23,1fr);
    grid-template-rows: auto;
    align-items: center;
}

#timer > span {
    width: 0;
    display: flex;
    justify-content: center;
}

#ansatte {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    display: grid;
    grid-template-rows: repeat(8,calc(100% / 8));
    grid-template-columns: auto;
}

#tidsplan {
    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: repeat(92,1fr);
    grid-template-rows: repeat(8,calc(100% / 8));

    position: relative; /* Add grid lines */
}

.skift {
    z-index: 2;
    background: red;
    border-radius: .5em;
    box-shadow: 4px 4px 6px #00000059;
    margin: 2px;
}

/* GRID LINES */

.gridLines {
    display: flex;
    z-index: 1;
    box-sizing: border-box; /* Include border in box size calculation */
    position: relative; /* Positioning context for pseudo-elements */
}

.gridLines::before,
.gridLines::after,
#tidsplan::after,
#tidsplan::before {
    content: '';
    position: absolute;
    background-color: #ccc; /* Color of the grid lines */
}

.gridLines::before, #tidsplan::before {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px; /* Height of horizontal grid lines */
}

.gridLines::after, #tidsplan::after {
    bottom: 0;
    right: 0;
    width: 1px; /* Width of vertical grid lines */
    height: 100%;
}

.dottedLine::after {
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 50%, #ccc 50%);
    background-size: 1px 8px; /* Adjust the size of the dots */
}

#tidsplan::before {
    top: 0;
    left: 0;
}

#tidsplan::after {
    top: 0;
    left: 0;
}
