#personal {
    display: grid;
    grid-template-rows: 2em 15% 2% 40% auto 2em;
    height: 100%;
    width: 100%;
    grid-template-columns: 2em 25% 2% auto 20% 2em;
}

#personal > section {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
}

#personal button {
    background-color:  lightgray;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #00000036;
    padding: 0.3em 1em;
    margin: auto;
    cursor: pointer;
}

dialog {
    border: 1px solid black;
    background-color: lightgray;
    color: #2d2d2d;
    text-align: center;
    box-shadow: 5px 5px 5px #00000036;
    border-radius: 0.6em;
}

dialog input[type=submit] {
    background-color: lightgray;
    font-family: "Roboto",sans-serif;
    color: #2d2d2d;
    text-align: center;
    box-shadow: 5px 5px 5px #00000036;
    border-radius: 1em;
    border: 2px solid black;
}

#lonnsslippForm > div {
    display: flex;
}