#rapporter {
    display: grid;
    grid-template-columns: 2em auto 2em;
    grid-template-rows: 2em auto 2em;
    width: 100%;
}

.lonnsRapporter {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1em;
}

.lonnsRapporter::before {
    content: '';
    min-height: 3em;
    border-radius: 0.5em 0.5em 0 0;
    background: #e6e8ea;
}

.resourceDiv {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
}

.resourceDiv:nth-child(even) {
    background-color: #f2f3f5;
}

.rapportAnsattinfo {
    display: flex;
    gap: 3em;
    margin-right: auto;
}
