.logout {
    color: inherit;
    text-decoration: none;
}

.suite {
    grid-column: 2;

    background-color: #fff;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 0 0 12px #ddd;
}

.suiteWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1em auto 1em;
    grid-template-rows: 2.5em auto 1em;
}

.suiteChooser {
    grid-column: 2;

    display: flex;
    flex-direction: row;
    gap: 0.2em;
    z-index: 1;
    margin-left: 1em;
}

.suiteChooser a {
    margin: 0.75em 0 -0.75em;
    padding: 0.25em 0.75em;
}

.suiteChooser a:not(.active) {
    background: #ddd;
}

.active {
    transform: scale(1.05);
    z-index: 1;
}
