body {
    background-color: #dcefff;
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
    line-height: 1.5;
    color: #2d2d2d;
}

header {
    height: 100px;
    box-shadow: 0px 4px 6px 0px grey;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.headerLeftSide, .headerRightSide {
    width: max-content;
    height: 100%;
    display: flex;
    color: white;
}

.headerRightSide {
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.logout {
    cursor: pointer;
}

.headerLeftSide > h3 {
    font-weight: 100;
    font-size: 30px;
}

img {
    height: inherit;
    margin-left: 20px;
}

.inputSection {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
    top: 0;
    width: 100%;
}

.stemple {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.stemple-pop_up {
    background-color: white;
    width: 800px;
    height: 450px;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #00000036;
}

.stemple-pop_up > form {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: space-between;
    gap: 1em;
    margin: 1em;
}

input[type=submit] {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.stempleSection {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.suiteWrapper {
    height: calc(100vh - 100px);
    width: 100%;
    display: grid;
    grid-template-columns: 1em auto 1em;
    grid-template-rows: 3em auto 1em;
}

.suiteChooser {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-direction: row;
    gap: .2em;
    z-index: 1;
    margin-left: 2em;
}

.button {
    background-color: lightgray;
    color: inherit;
    text-decoration: none;
    transform: translateY(1em);
    padding: 0.5em 1em;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #00000036;
    cursor: pointer;
}
.active {
    background-color: whitesmoke;
}

.suite {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: whitesmoke;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #00000036;
}
.suite {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: whitesmoke;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #00000036;
}

#personal {
    display: grid;
    grid-template-rows: 2em 15% 2% 40% auto 2em;
    height: 100%;
    width: 100%;
    grid-template-columns: 2em 25% 2% auto 20% 2em;
}

#personal > button {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color:  lightgray;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #00000036;
    width: 50%;
    height: 35%;
    margin: auto;
    cursor: pointer;
}

#nyAnsattWindow {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: lightgray;
    font-family: "Roboto",sans-serif;
    color: #2d2d2d;
    text-align: center;
    box-shadow: 5px 5px 5px #00000036;
    border-radius: 1em;
}

#nyAnsattWindow #lag {
    background-color: lightgray;
    font-family: "Roboto",sans-serif;
    color: #2d2d2d;
    text-align: center;
    box-shadow: 5px 5px 5px #00000036;
    border-radius: 1em;
    border: 2px solid black;

}

#ansatt {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 2em min-content 2% 40% auto 2em;
    grid-template-columns: 2em 20% 10% 2% auto 2% 20% 2em;
}

#ansattSok {
    display: contents;
}

#ansattSok > form {
    display: flex;
    flex-direction: row;
}

#ansattInfo {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.suite form {
    display: grid;
    gap: 0.75em;
    max-width: 20em;
    align-content: start;
    padding: 0 0.5em;
    margin: 0 auto;
}

.suite label {
    display: grid;
    text-align: start;
    grid-template-columns: 15ch 1fr;
}

#searchBarAnsatt {
    position: relative;
    display: flex;
    height: 2em;
    width: max-content;
    padding: 10px;
    border-radius: 5em;
    background: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#searchInput {
    border: 0;
    outline: none;
    padding: 0px 4px;
}

#searchLogo {
    padding: 8px;
}

#searchResultWrapper {
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background: white;
    margin-top: .5em;
    padding: 1em;
    border-radius: 1em;
    height: min-content;
}

.searchResult {
    outline: none;
    border: 0;
    background: white;
    cursor: pointer;
}

.searchResult:hover {
    background: #f1f1f1;
}